<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetProjects.SVGImage" version="4.1.97" targetFramework="net48" />
  <package id="Fizzler" version="1.2.0" targetFramework="net48" />
  <package id="HarfBuzzSharp" version="2.6.1.7" targetFramework="net48" />
  <package id="OpenTK" version="3.1.0" targetFramework="net48" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net48" />
  <package id="ShimSkiaSharp" version="0.5.10" targetFramework="net48" />
  <package id="SkiaSharp" version="2.80.3" targetFramework="net48" />
  <package id="SkiaSharp.HarfBuzz" version="2.80.2" targetFramework="net48" />
  <package id="SkiaSharp.Views.Desktop.Common" version="2.80.3" targetFramework="net48" />
  <package id="SkiaSharp.Views.WPF" version="2.80.3" targetFramework="net48" />
  <package id="Svg.Custom" version="0.5.10" targetFramework="net48" />
  <package id="Svg.Model" version="0.5.10" targetFramework="net48" />
  <package id="Svg.Skia" version="0.5.10" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>